<p class="note">
	Research Project for Angular 2 {{aaa}}
</p>

<table width="99%">
	<tr>
		<td width="99%">
			<div [ng2-highstocks]="chartStock" class="graph topChart"></div>
		</td>
	</tr>
</table>
<table class="bottomTable">
	<tr>
		<td width="33%">
			<div [ng2-highcharts]="chartOptions" class="graph bottomChart"></div>
		</td>
		<td width="33%">
			<div [ng2-highcharts]="chartBar" class="graph bottomChart"></div>
		</td>
		<td width="33%">
			<div [ng2-highmaps]="chartMap" class="graph bottomChart"></div>
		</td>
	</tr>
</table>